*
body {
    background-color: black;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    letter-spacing: 1px;
}

.bg-img {
    /* The image used */
    background-image: url("../images/Screenshot\ \(1\).png");
    background-color: rgb(112, 128,144);
    min-height: 153px;
    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    /* Needed to position the navbar */
    position: relative;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 70px;
    width: auto;
    top: -20px;
}

/* The navbar */
.topnav {
    overflow: hidden;
    background-color: rgb(225, 225, 225);
    margin-left: 250px;
    -webkit-border-radius: 5px;
}

/* Navbar links */
.topnav a {
    float:right;
    color: #000000;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
    margin: 5px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px #3a3b3c;
}

a.right {
    padding-right: 85px;
}

.something,
.products {
    color: #f78629;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 600;
}

.occurs {
    letter-spacing: 10px;
    padding-top: 10px;
}

.low {
    padding-top: 10px;
}

.drop {
    padding-top: 25px;
}

.left {
    margin-left: 0px;
}

.space {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.buy {
    text-align: center;
}

p,
.buy {
    background-color: rgb(247, 134, 41);
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-weight: 550;
}